/* Removes the default settings */
*{
    margin: 0%;
    padding: 0%;
}
/* CSS for the whole of the page */
body, html{
   height:100%;
   margin: 0;
   font-size: 16px;
   font-family:'lato' sans-serif;
   font-weight: 400;
   line-height: 1.8em;
   color: #666
}

.main{
    padding-top: 15%;
    font-family: Arial, Helvetica, sans-serif;
}

.pimg1,.pimg2{
    position:relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* CSS for the Nav Bar */
nav ul{
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    width:100%;
    background-color:black;
    list-style-type: none;
    text-align: right;
}
nav ul li {
    display: inline-block;
    text-align: center;
    padding: 20px;
    height:2%;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding:20px;
}
nav ul li a:hover{
    color:red;
}

/* Main Div for the Top section on the page */
.pimg1{
    background:red;
    min-height: 70%;
}

.pimg2{
    background: whitesmoke;
    min-height: 400px;
}
/* Details is for the second section down the page */
.Details{
    text-align: center;
    padding: 50px 80px;
    background: whitesmoke
}

/* Main text - Explaining what the page is for */
.ptext{
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext, .border, .trans {
    background: transparent;
}
.border{
    color: white;   
}
.border span{
    color: black;
}